.game-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
.board-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: fit-content;
    margin: auto;
}
.board {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    /*width: 300px;*/
    height: fit-content;
}
.group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.tile {
    font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    width: 52px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #000;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 2px solid #d3d6da;
    border-radius: 10px;
}
.answer-group {
    display: none;
    border: 2px solid green;
    padding: 2px;
    border-radius: 10px;
}
.answer-group .tile { border-color: #6aaa64; }
.keyboard {
    /*height: 260px;*/
    width: 500px;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}
.keyboard-key {
    font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 3px 0 3px;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    color: #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}
.spacer { flex: .5; }
.keyboard-key-large { flex: 1.5; font-size: 12px; }
.keyboard-key:focus { outline: none; }
.editable-tile { border-color: #878a8c; }
.selected-tile { border-color: #c9b458; }
.correct-tile, .correct-key { background-color: #6aaa64; color: #fff; border-color: #6aaa64; }
.incorrect-tile, .incorrect-key { background-color: #787c7e; color: #fff; border-color: #787c7e; }
.present-tile, .present-key { background-color: #c9b458; color: #fff; border-color: #c9b458; }
.menu {
    min-width: 400px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 40px;
    z-index: 99;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}
.menu.show {
    visibility: visible;
    opacity: 1;
}
#mode-menu .mode-btn,
#reset-dialog .btn,
#lose-dialog .btn,
#player-dialog .btn,
#player-dialog input { width: 100%; display: block; margin: auto; margin-top: 10px; text-align: center; }
.scoreboard-pane {
    display: inline-block;
    color: #c9b458;
    vertical-align: top;
    padding: 0 10px 0 10px;
}
.menu .close-btn { position: absolute; top: 15px; right: 15px; height: 20px; width: 20px; padding: 0px 2px 4px 2px; }
.scoreboard-pane table { max-width: 250px; }
#mode-btn { font-weight: 600; font-size: 20px; width: 200px; margin: auto; }
#scoreboard-btn { font-weight: 600; width: 200px; margin: auto; margin-top: 5px; }
#toast-msg {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#toast-msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.progress-container { margin: auto; padding: 10px; }
.progress-msg { float: right; font-size: 12px; }
.progress-bar {
    background-color: #d3d6da;
    width: 500px;
    height: 30px;
    margin: auto;
    position: relative;
    border-radius: 5px;
    border: 3px solid #d3d6da;
}
.bar {
    background-color: #6aaa64;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: width 1.5s ease;
    transform-origin: left;
    border-radius: inherit;
}
.bar-marker {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #d3d6da;
    opacity: 0;
    z-index: 9;
}
@media all and (max-width: 1024px) {
    h2 { font-size: 5rem; }
    h3 { font-size: 3.75rem; }
    .game-container { height: 100%; }
    #mode-btn, #scoreboard-btn, .menu .btn { width: 100%; font-size: 40px; margin-top: 10px; border: 2px solid; border-radius: 15px; }
    .tile { width: 100px; height: 100px; }
    .keyboard { width: 100%; margin-bottom: 0; }
    .keyboard-key { height: 125px; font-size: 2.25em; }
    .keyboard-key-large { font-size: 20px; }
}